# Empty

In [1]:
import pandas as pd

pd.DataFrame(dict(x=[10,20,30]))

::: {#tbl-test2 .cell tbl-cap=’

Test2 ’ execution_count=2}

``` python
import pandas as pd

pd.DataFrame(dict(x=[10,20,30]))
```

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>

|     | x   |
|-----|-----|
| 0   | 10  |
| 1   | 20  |
| 2   | 30  |

</div>

:::

In [3]:
import pandas as pd

pd.DataFrame(dict(x=[10,20,30]))